* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.back-to-top a{
    
    text-decoration: none;
    width: 40px;
    height: 40px;
    font-size: 50px;
    color: red;
    position: fixed;
    z-index: 99999999;
    right: 2vw;
    bottom: 5vh;
}


.visual{
    transition: 1;
    background-color: black;
    width: 100%;
    height: 4vw;
    z-index: 9999999;
    position: absolute;
    top: 4.2%;
}

#clock{
    position: absolute;
    bottom: 0;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px;
    color: white;
    text-align: center;
}
#clock::selection{
    background-color: white;
    color: black;
}



#minicircle1{
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    width: 10px;
    height: 10px;
    background-color:   white;
    position: absolute;
    z-index: 9999999999;
    border-radius: 30%;
}
#minicircle2 {
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 3.5s;
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    z-index: 9999999999;
    border-radius: 30%;
}
#minicircle3 {
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 5.5s;
    width: 10px;
    height: 10px;
    background-color:   white;
    position: absolute;
    z-index: 9999999999;
    border-radius: 30%;
}
.main{
    position: relative;
    background-color: #000000;
    

}

.branding{

    padding: 10px 4px;
    background-color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.branding h4::selection{
    background-color: white;
    color: black;
}
.branding h4 a::selection {
    background-color: white;
    color: black;
}
.branding h4{
        padding: 0.2vw 1vw;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .8vw;
        font-weight: 7400;
}
.branding h4 a{
    padding: 0.2vw 1vw;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8vw;
    font-weight: 7400;
}



.nav {
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: white;
    padding-right: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    
}

.nav h2{
    margin: 0;
    padding: 10px 10px;
    color: white;
    
    background-color: black;
}

.nav a:hover{
    opacity: .6;
    background-color: red;
    color: #000000;
}

.navbar-left .active{
    background-color: black;
    color: white;
}
.navbar-left {
    border-radius: 50%;
    
    display: flex;
    
    align-items: left;

}
.navbar-right {
    display: flex;
    background-color: white;
}

.navbar-left a {
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar-left a::selection{
    color: black;
    background-color: white;
}
.navbar-right a::selection {
    color: black;
    background-color: white;
}

.navbar-right a {
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
.hero #header-img{
    margin: 0 0;
    padding: 0 0;
   
}
.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-color: #000000;
    border-bottom: 100px solid #000000;
}
#cool-text {
    color: red;
    border-radius: 80px;
}

#cool-text::selection {
    color: black;
    background-color: red;
}

#Welcome-Screen {
    background-image: url(header.png);
    background-position: bottom;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 60vh;
    font-size: 10vw;
    
}

#Welcome-Screen h1{
    opacity: .6;
    text-align: center;
    padding: 0;
    font-size: 8vw;
}

#Welcome-Screen h1::selection {
    color: white;
    background-color: red;
}

#header-img{
    
    width: 100%;
    height: 100vh;
    background-size: cover;
}




.navbar h4 a:hover{
    background-color: #ff0000c3;
}




.container3{
    border-color: #000000;
    border-bottom:100px solid #000000;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    
    
}

.slider-wrapper{
    
    position: relative;
    max-width: 50vw;
    margin: 0 auto;
    margin-top: 500px;
    
}
#center-bg{
    
    width: 100%;
}

.slider{
    width: 100%;
    margin: 0 0;
    padding:0  0;
    display: flex;
    aspect-ratio: 16/9; 
    overflow: hidden;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
      
}

.slider img{
    flex: 1 0 100%;
    height: 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}




#container-img{
    object-fit: cover;
    padding: 0;
    margin: 0;
    position: absolute;
}



.center-img{
    background-image: url(mid_bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    
}

.box{
    background-color: #fff;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#line2{
    text-transform: uppercase;
    opacity: 1;   
}
#line2::selection{
    background-color: red;
    opacity: .6;
    color: white;
}


.square1-bg{
    width: 100%;
    height: 50vh;
    display: flex;
    overflow: hidden;
    flex-direction: row;
}
.square2-bg {
    width: 100%;
    height: 50vh;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    
}
.left1-bg{
    background-color: red;
    width: 50%;
    height: 100%;
    border-style: solid;
}
.left2-bg {
   
    background-color: aliceblue;
    width: 50%;
    height: 100%;
   
  
}
.right1-bg {
  
    background-color: aqua;
    width: 50%;
    height: 100%;
   
    
}
.right2-bg{
   
        background-color: aquamarine;
        width: 50%;
        height: 100%;
        
}

@media (max-width: 600px) {

       ul {
            
            position: fixed;
            top: 0;
            width: 100%;
            overflow: hidden;
            background-color: rgb(0, 0, 0);
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li {
            border-top: 1px solid #000000;
            border-right: 1px solid #000000;
            float: left;
        }

        .container1 {
                    border-color: #000000;
                    border-bottom: 100px solid #000000;
                    padding: 0.5vw 2vw;
                    width: 100%;
                    height: 100vh;
                }
        #Welcome-Screen {
                    background-image: url(header.png);
                    background-position: 300px 600px;
                    font-weight: 800;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    width: 100%;
                    height:100%;
                    background-color: rgba(58, 52, 52, 0);
                    font-size: 10vw;
        
                }
         #Welcome-Screen::selection {
                                    color: white;
                                    background-color: #ff0000c3;
         }
         .container2{
            width: 100%;
            height: 800px;
         }
        .center-img {
                        background-image: url(mid_bg.png);
                        background-repeat: no-repeat;
                        width: 100%;
                        background-position: left bottom;
                        height: 100%;
                        background-color: #000000;
                                    
                      }
        .container3{
            width: 100%;
                height: 100%;
        }
        #center-bg{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .slider{
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            border-top: 100px solid black;
                display: flex;
                overflow-x: hidden;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
                border-radius: 0.5rem;
        }
                .slider img {
        
                    flex: 1 0 100%;
                    height: 100%;
                    scroll-snap-align: start;
                    object-fit: cover;
                }
}
